<!DOCTYPE html>
<html lang="en">
<head>
  <title>Modsec</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/modsec/">Modsec</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/modsec/">Home</a></li>
      <li><a href="/modsec/rules/">Reglas</a></li>
      <li><a href="/modsec/logs/">Registros</a></li>
      <li><a href="/modsec/dashboard/">Panel de control</a></li>
      <li><a href="/modsec/conf/">Configuración</a></li>
      <li><a href="/modsec/logout/">Logout</a></li>
    </ul>
  
  </div>
</nav>
<div class="container">
      <div class="col-sm-10">
        <h3>Nombre: {{rule.name}}</h3>
         <h3> Contenido:</h3>
          <textarea name="text" id="id_text" required="" rows="30" cols="80" class="vLargeTextField" readonly resize="none">{{rule.text}}
          </textarea>
           <div align="left">
  <a href="/modsec/editRule/{{ rule.id }}" class="btn btn-info">Editar</a>
</div>
      </div>
   
</div>

</body>
</html>


                    
                    
                      

                        
                    
                    
